/* Style Reset */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: repeating-radial-gradient(yellow, gray);
    animation: fadeIn 0.8s ease-in;
}

.container {
    background-color: #FFFFFF;
    margin: 1.5em;
    padding: 0.5em;
    border-radius: 1.5em;
    border-left: 5px solid #000000;
    border-right: 5px solid #000000;
}

.sub-container {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    margin: 1.5em;
    padding: 1.5em;
    border-radius: 1.5em;
    border-left: 5px solid yellow;
    border-right: 5px solid yellow;
    background-color: #000000;
    color: #FFFFFF;
}

#input {
    border-radius: 1.5em;
    margin-left: 0.5em;
    padding: 0.75em;
}

#txtHint {
    border-radius: 1.5em;
    margin-left: 0.5em;
    padding: 0.75em;
    background-color: #FFFFFF;
    color: orangered;
    font-weight: bold;
    transition: opacity 0.4s ease, transform 0.4s ease;
    opacity: 0;
    transform: translateY(-10px);
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
    opacity: 1 !important;
    transform: translateY(0) !important;
}

footer {
    margin-top: auto !important;
}

/* fadeIn Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Media Query */
@media (max-width: 768px) {
    .container {
        margin: 1em;
        padding: 0.5em;
        border-radius: 1em;
    }

    .sub-container {
        gap: 1.5em;
        margin: 1em;
        padding: 1em;
        border-radius: 1em;
    }

    #input {
        border-radius: 1em;
        padding: 0.5em;
    }

    #txtHint {
        border-radius: 1em;
        padding: 0.5em;
    }
}